@import "tailwindcss";

@font-face {
  font-family: "Made Barista";
  src: url("/fonts/MADEBarista.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
